//Variables
@import "_cv_variables.scss";

@media only screen and (min-width: 0px){
    .Technologies-div{
        width: 100%;
    }
    img{
        height: 100px;
    }
}

@media only screen and (min-width: $medium-size){
    div {
        width: 100%;
    }
    img{
        height: 200px;
    }
    .dropdown{
        visibility: visible;
    }
    .pc{
        visibility: hidden;
    }
    .Technologies-div{
        width: 50%;
    }
}

@media only screen and (min-width: $large-size){
    img{
        height: 500px;
    }
    .dropdown{
        visibility: hidden;
    }
    .pc{
        visibility: visible;
    }
    .Technologies-div{
        width: 25%;
    }
}

@mixin div{
    border-radius: 6px;
}

td {
    width: 50%;
}

.Technologies-div{
    float: left;
}

body {
    background-color: $background;
}

a {
    color: $letra;
    text-decoration: none;
}

#div-nav{
    margin: 20px;
}

.center{
    text-align: center;
}

table {
    @extend .center;
    margin: 0 auto;
    width: 70%;
    background-color: $table-background;
}




